@font-face {
  font-family: Valorant;
  src: url('/assets/fonts/valorant.ttf');
}
@font-face {
  font-family: Futura;
  src: url('/assets/fonts/futura-book.ttf');
}
@font-face {
  font-family: Futura;
  font-weight: bold;
  src: url('/assets/fonts/futura-bold.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#titleSection {
  background: url('/assets/images/bg-top.png') center center no-repeat;
  background-size: cover;
}
#middleSection {
  background: url('/assets/images/bg-middle.png') center center no-repeat;
  background-size: cover;
}
#middleSection > section:nth-child(2) {
  background: url('/assets/images/right-face.png') right center no-repeat;
  background-size: contain;
}
#middleSection > section:nth-child(4) {
  background: url('/assets/images/left-face.png') left center no-repeat;
  background-size: contain;
}
#teamSection {
  background: url('/assets/images/bg-bottom.png') center center no-repeat;
  background-size: cover;
}