@font-face {
  font-family: Valorant;
  src: url('/assets/fonts/valorant.ttf');
}
@font-face {
  font-family: Futura;
  src: url('/assets/fonts/futura-book.ttf');
}
@font-face {
  font-family: Futura;
  font-weight: bold;
  src: url('/assets/fonts/futura-bold.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#titleSection {
  background: url('/assets/images/bg-top.png') center center no-repeat;
  background-size: cover;
}
#middleSection {
  background: url('/assets/images/bg-middle.png') center center no-repeat;
  background-size: cover;
}
#teamSection {
  background: url('/assets/images/bg-bottom.png') center center no-repeat;
  background-size: cover;
}